body {
    margin :0;
}
.text1 {
    background-color :aliceblue ;
    color :blue ;
    width :300px;
    height :20px;

}

.tableCat {
    background-color : bisque  ;
    border :4px solid aliceblue;
    
}
.catSubmit {
    align-content :center ;
    align-self :flex-end ;
}

/**                        Menues      */
hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}
	
#tabs {
	float:left;
	width:100%;
	font-size:93%;
	border-bottom:1px solid #2763A5;
	line-height:normal;
	}

#tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

#tabs li a {
	float:left;
	background:url("tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}

#tabs li a {
	float:left;
	display:block;
	background:url("tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs li a span {float:none;}

/* End IE5-Mac hack */
#tabs li a:hover span {
	color:#FFF;
	}

#tabs li a:hover {
	background-position:0% -42px;
	}

#tabs li a:hover  {
	background-position:100% -42px;
	}
